body{

    
}
#banner {
    width: 100%;
}
.Titulo-Personal {

    padding-left: 30px;
}
.principal{
    

    background: #CCCCCC ;
    padding: 20px;

}
p{
    text-align: center;
    background: #CCCCCC ;
}

 em b{

    color: red;
}

#mision{

    font-size: 20px;
    color: blueviolet;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}
h2{
    text-align: center;
}
.items {
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}